.list {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.button {
  display: inline-block;
  text-transform: capitalize;
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4c87af;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}
.button:hover {
  background-color: #3e678e;
}

.button:active {
  background-color: #3e4a8e;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
